*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img{
    width: 100%;
    display: block;
    position: absolute;
}
.slide-img-container{
    position: relative;
    width: 300px;
    height: 300px;
    margin-top: 2rem;
}

.btn-container{
    display: flex;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 42.5%;
    right: 42.5%;
    flex-direction: column;
    height: 455px;
    justify-content: space-between;
}

#btnPrev{
    padding-right: 3.2rem;
}

.old-img{

}
.new-img{

}
.dot{
    width: 10px;
    height: 10px;
    display: inline-block;
    border-radius: 50%;
    background-color: red;
    opacity: .2;
    margin-left: .5rem;
    margin-right: .5rem;
}

.dot.active{
    opacity: 1;
}

